<div id="voteSuggestions" ng-controller="VoteSuggestionsController">
	<super-navbar>
		<super-navbar-title>
	    	Movie Suggestions
	    </super-navbar-title>
	    <super-navbar-button side="right" ng-click="voteTapped()">
	      Vote
	    </super-navbar-button>
	</super-navbar>
	<h1>{{test}}</h1>

	<div class="list">
		<div class="item" ng-repeat="movie in movies">
		    <img class="poster_thumbnail" ng-src="{{movie.imageLink}}" ng-click="showMovie($index)">
		    <div class="movie_data">
				<h2>{{movie.name}} <span class="year">{{movie.year}}</span></h2>
				<h1>{{movie.score}}%</h1>
			    <img ng-src="{{movie.iconImageLink}}" />
		    </div>
		    <button class="button button-assertive delete-suggestion" ng-click="deleteMovie($index)">
				<i class="fa fa-minus-circle"></i>
			</button>
    	</div>
	</div>
</div>